{{#partial "content"}}

    <h1 class="display-3">Wildlife Tracker</h1>


    <div class="main">
        <a href="/animal-form" class="btn btn-success btn-sm">Add animal</a>
        <a href="/en-animal-form" class="btn btn-success btn-sm">Add endangered animal</a>
    </div>




{{/partial}}
{{> layout.hbs}}