{{#partial "content"}}

    <div class="alert alert-success text-center">
        <h1 >Success</h1>
        <p>It has been added!!</p>
    </div>

    <p class="text-center"><a href="/animals">Go back to animals</a></p>

    <p class="text-center"><a href="/">Go back home</a></p>
{{/partial}}

{{> layout.hbs}}