{{#partial "content"}}
    {{#if editAnimal}}


        <form action="/animals/{{editAnimal.id}}/update" method="post" class="form">
            <h1>EDIT animal</h1>
            <input type="text" id="name" name="name" value="{{editAnimal.name}}">
            <button type="submit" class="btn btn-success btn-sm">Update</button>

    {{else}}

            <form action="/animal-form/new" method="post" class="form">
                <h1>Add animal</h1>
                <input type="text" id="name" name="name">
                <button type="submit" class="btn btn-success btn-sm">Add</button>

    {{/if}}
    </form>

{{/partial}}
{{> layout.hbs}}