{{#partial "content"}}
    <h1>Wildlife Tracker</h1>


    <a href="/animal-form" class="btn btn-success btn-sm">Add animal</a>
    <a href="/en-animal-form" class="btn btn-success btn-sm">Add endangered animal</a>

{{/partial}}
{{> layout.hbs}}